<nav class="bg-white w-full shadow-sm">
  <div class="flex justify-between items-center align-middle py-3 w-3/5 container mx-auto">
    <div class="text-xl"><a routerLink="/">{{logoTitle}}</a></div>
    <div class="flex space-x-4">
      <ng-container *ngIf="isAuthenticated">
        <button class="button bg-red-500 text-white hover:bg-red-400" (click)="logoutHandler()">Log Out</button>
      </ng-container>
      <ng-container *ngIf="!isAuthenticated">
        <button class="button bg-green-600 hover:bg-green-400"><a routerLink="/login">Login</a></button>
        <button class="button bg-blue-500 hover:bg-blue-400"><a routerLink="/register">Register</a></button>
      </ng-container>
    </div>
  </div>
</nav>
